{% load static %}
{% load rom_extras %}

<div class="card-header p-1 px-2">
    <div class="row m-0">
        <div class="col-8 p-0">
            {{ party.name }}
        </div>
        <div class="col-4 p-0 text-right">
            <button class="rm-border" style="background-color: rgba(0,0,0,0);" party-id="party_{{ party.id }}" onclick="party_edit(this)" data-toggle="modal" data-target="#exampleModal">
                <i class="fa fa-pencil"></i>
            </button>
            <button class="rm-border" style="background-color: rgba(0,0,0,0);" party-id="party_{{ party.id }}" onclick="party_remove(this)">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>
</div>
<div class="card-body p-1 px-2">
    {% for member in party.member %}
    <div class="row m-0">
        <div class="col-11 p-0">
            {% if member.war_job_id %}
            <span><img src="{{ job_images|get_item:member.job_id }}" width="25" height="25"> {{ member.name }}</span>
            {% else %}
            <span>------------</span>
            {% endif %}
        </div>
        <div class="col-1 p-0 text-right">
            {% if member.data.leader %}
            <span style="color: Red;">
                    <i class="fa fa-bookmark"></i>
                </span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="card-footer p-1 px-2">
    <div class="row m-0">
        <div class="col-12 p-0">
            <span class="badge badge-secondary">Remark</span> <small>{{ party.data.remark }}</small>
        </div>
    </div>
</div>

