{% load static %}
{% load rom_extras %}

{% block js %}
<script src="{% static 'js/class.js' %}"></script>
<script src="{% static 'js/party.js' %}"></script>
<script>
function initPage() {
    var widget = new WidgetPartySelectCharacter('{% url 'guild_party_get_war_jobs' invite_code war.war_type %}', '{% url 'guild_party_push_war_job' invite_code war.war_type %}');
}

$(function() {
    initPage();
});
</script>
{% endblock %}

{% for party in party_list %}
<div class="card bg-light border-dark m-3 w-18rem" id="party_{{ party.id }}">
    <div class="card-header p-1 px-2">
        <div class="row m-0">
            <div class="col p-0">
                <input type="text" class="form-control form-control-sm form-custom-sm" name="party_name" required placeholder="Party name" value="{{ party.name }}">
            </div>
            <div class="col-1 p-0 text-right">
                <button class="rm-border" style="background-color: rgba(0,0,0,0);" data-party_id="{{ party.id }}" data-party_name="{{ party.name }}" onclick="party_remove(this)">
                    <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body p-1 px-2">
        {% for member in party.member %}
        <div class="row m-0">
            <div class="col p-0 input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text p-0" id="lb_{{ member.id }}">
                        {% if member.job_id %}
                        <img src="{{ job_images|get_item:member.job_id }}" width="24" height="24">
                        {% endif %}
                    </label>
                </div>
                <select class="form-control form-control-sm select-job" id="pmj_{{ member.id }}" data-pm_id="{{ member.id }}" data-p_id="{{ party.id }}" data-pmc_select="pmc_{{ member.id }}" data-lb="lb_{{ member.id }}" onchange="job_sl_change(this)">
                    <option value="None" selected>-- Select --</option>
                    {% for job_pk, job_name in jobs %}
                    <option value="{{ job_pk }}" {% if job_pk == member.job_id %} selected {% endif %}>{{ job_name }}</option>
                    {% endfor %}
                </select>
                <select class="form-control form-control-sm" name="pmc_select" id="pmc_{{ member.id }}" data-pmj_select="pmj_{{ member.id }}" data-war_job_id="{{ member.war_job_id }}">
                    <option value="None" selected>-- Select --</option>
                </select>
            </div>
            <div class="col-1 p-0 text-right">
                <input type="checkbox" class="fa fa-bookmark" data-pm_id="{{ member.id }}" data-p_id="{{ party.id }}" onchange="leader_cb_change(this, &quot;{% url 'guild_party_push_leader' invite_code war.war_type %}&quot;)" {% if member.data.leader %} checked {% endif %}>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="card-footer p-1 px-2">
        <div class="row m-0">
            <div class="col-3 p-0">
                <span class="badge badge-secondary">Remark</span>
            </div>
            <div class="col-9 p-0">
                <input type="text" class="form-control form-control-sm form-custom-sm" name="party_remark" value="{{ party.data.remark }}">
            </div>
        </div>
    </div>
</div>
{% endfor %}


