{% extends 'base.html' %}
{% load static %}
{% load rom_extras %}

{% block title %} Home {% endblock %}
{% block content %}

<div class="card mb-3">
    {%if edit %}
    {% for job_pk, job_name in jobs %}
        <img src="{{ job_images|get_item:job_pk }}" id="job_model_img_{{ job_pk }}" width="24" height="24" hidden>
    {% endfor %}
    {% endif %}
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">{{ war.war_name }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'guild_party_summary' invite_code war.war_type %}?{% if edit %}edit_stage=t{% endif %}">Summary <span id="exclamation_icon" style="color: Red;" {% if not left_behind %} hidden {% endif %}><i class="fa fa-exclamation-circle"></i></span></a>
            </li>
        </ul>
    </div>
    <div class="card-body row py-1">
        {% if edit %}
        <a href="{% url 'guild_party_list' invite_code war.war_type %}" class="btn btn-labeled btn-primary m-2 ml-3">
            <span class="btn-label"><i class="fa fa-check"></i></span>Finish
        </a>
        <a href="{% url 'guild_party_add' invite_code war.war_type %}" class="btn btn-labeled btn-dark m-2">
            <span class="btn-label"><i class="fa fa-plus"></i></span>Add
        </a>
        {% else %}
        <a href="{% url 'guild_party_edit_list' invite_code war.war_type %}" class="btn btn-labeled btn-dark m-2 ml-3">
            <span class="btn-label"><i class="fa fa-pencil"></i></span>Edit
        </a>
        {% endif %}
    </div>
    <hr class="m-0">
    <div class="card-body row py-1" id="party_card_body">
        {% if edit %}
        {% include 'party/components/party_edit_block.html' %}
        {% else %}
        {% include 'party/components/party_block.html' %}
        {% endif %}
    </div>
</div>

{% endblock %}