{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}
{% block content %}

<div class="card mb-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">{{ war.war_name }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'guild_party_summary' invite_code war.war_type %}">Summary</a>
            </li>
        </ul>
    </div>
    <div class="card-body row" id="party_card_body">
        {% for party in party_list %}
        <div class="card bg-light border-dark m-3 w-18rem" id="party_{{ party.id }}">
            {% include 'party/components/party_block.html' %}
        </div>
        {% endfor %}
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-labeled btn-primary">
            <span class="btn-label"><i class="fa fa-plus"></i></span>Party
        </button>
    </div>
</div>

{% include 'party/components/party_edit_block.html' %}

<script src="{% static 'js/party.js' %}"></script>
<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus');
});
</script>
{% endblock %}