{% extends 'base.html' %}]
{% load static %}
{% load rom_extras %}

{% block title %} Character Info {% endblock %}
{% block content %}

<div class="col-lg-6">
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Character Information</h3>
        </div>
        <div class="card-body">
            <form action="{{ submit_url }}" method="post">
                {% csrf_token %}
                {% if error_change %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <small><strong>{{ error_change }}</strong></small>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
                {% if form.ign.errors %}
                {% for error in form.ign.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <small><strong>{{ error|escape }}</strong></small>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" for="{{ form.ign.auto_id }}">{{ form.ign.label }}</label>
                    <div class="col-lg-9">
                        {{ form.ign }}
                    </div>
                </div>
                {% if form.base_level.errors %}
                {% for error in form.base_level.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <small><strong>{{ error|escape }}</strong></small>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" for="{{ form.base_level.auto_id }}">{{ form.base_level.label }}</label>
                    <div class="col-lg-9">
                        {{ form.base_level }}
                    </div>
                </div>
                {% if form.contribution.errors %}
                {% for error in form.contribution.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <small><strong>{{ error|escape }}</strong></small>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" for="{{ form.contribution.auto_id }}">{{ form.contribution.label }}</label>
                    <div class="col-lg-9">
                        {{ form.contribution }}
                    </div>
                </div>
                {% if form.gold_medal.errors %}
                {% for error in form.gold_medal.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <small><strong>{{ error|escape }}</strong></small>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" for="{{ form.gold_medal.auto_id }}">{{ form.gold_medal.label }}</label>
                    <div class="col-lg-9">
                        {{ form.gold_medal }}
                    </div>
                </div>
                {% if form.jobs.errors %}
                {% for error in form.jobs.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <small><strong>{{ error|escape }}</strong></small>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" for="{{ form.jobs.auto_id }}">{{ form.jobs.label }}</label>
                    <div class="col-lg-9">
                        {% for pk, choice in form.jobs.field.widget.choices %}
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" name="{{ form.jobs.name }}" value="{{ pk }}" id="{{ form.jobs.auto_id }}_{{ forloop.counter0 }}"
                                   img_id="id_img_jobs_{{ forloop.counter0 }}" text="{{ choice }}" onchange="cb_change(this)"
                                   {% if pk in job_ids %} checked {% endif %}>
                            <label class="custom-control-label" for="{{ form.jobs.auto_id }}_{{ forloop.counter0 }}">
                                <img src="{{ job_images|get_item:pk }}" width="30" height="30" id="id_img_jobs_{{ forloop.counter0 }}"
                                     {% if pk not in job_ids %} class="grayscale" {% endif %}>
                                {{ choice }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% if form.woe_job and form.woc_job and form.zone_job %}
                {% if form.woe_job.errors %}
                {% for error in form.woe_job.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <small><strong>{{ error|escape }}</strong></small>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" id="woe_fixable" for="{{ form.woe_job.auto_id }}">{{ form.woe_job.label }}</label>
                    <div class="col-lg-9 input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="{{ form.woe_job.auto_id }}" id="img_woe_job">
                                {% for pk, choice in form.jobs.field.widget.choices %}
                                {% if pk == war.woe_job %}
                                <img src="{{ job_images|get_item:pk }}" width="24" height="24">
                                {% endif %}
                                {% endfor %}
                            </label>
                        </div>
                        <select class="browser-default custom-select" name="{{ form.woe_job.name }}" id="{{ form.woe_job.auto_id }}" onchange="sl_change(this)" lb="img_woe_job">
                            <option selected>-- Select --</option>
                            {% for pk, choice in form.jobs.field.widget.choices %}
                            {% if pk in job_ids %}
                            <option value="{{ pk }}" {% if pk == war.woe_job %} selected {% endif %}>{{ choice }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% if form.woc_job.errors %}
                {% for error in form.woc_job.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <small><strong>{{ error|escape }}</strong></small>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" id="woc_fixable" for="{{ form.woc_job.auto_id }}">{{ form.woc_job.label }}</label>
                    <div class="col-lg-9 input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="{{ form.woe_job.auto_id }}" id="img_woc_job">
                                {% for pk, choice in form.jobs.field.widget.choices %}
                                {% if pk == war.woc_job %}
                                <img src="{{ job_images|get_item:pk }}" width="24" height="24">
                                {% endif %}
                                {% endfor %}
                            </label>
                        </div>
                        <select class="browser-default custom-select" name="{{ form.woc_job.name }}" id="{{ form.woc_job.auto_id }}" onchange="sl_change(this)" lb="img_woc_job">
                            <option selected>-- Select --</option>
                            {% for pk, choice in form.jobs.field.widget.choices %}
                            {% if pk in job_ids %}
                            <option value="{{ pk }}" {% if pk == war.woc_job %} selected {% endif %}>{{ choice }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% if form.zone_job.errors %}
                {% for error in form.zone_job.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <small><strong>{{ error|escape }}</strong></small>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" id="zone_fixable" for="{{ form.zone_job.auto_id }}">{{ form.zone_job.label }}</label>
                    <div class="col-lg-9 input-group">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="{{ form.woe_job.auto_id }}" id="img_zone_job">
                                {% for pk, choice in form.jobs.field.widget.choices %}
                                {% if pk == war.zone_job %}
                                <img src="{{ job_images|get_item:pk }}" width="24" height="24">
                                {% endif %}
                                {% endfor %}
                            </label>
                        </div>
                        <select class="browser-default custom-select" name="{{ form.zone_job.name }}" id="{{ form.zone_job.auto_id }}" onchange="sl_change(this)" lb="img_zone_job">
                            <option selected>-- Select --</option>
                            {% for pk, choice in form.jobs.field.widget.choices %}
                            {% if pk in job_ids %}
                            <option value="{{ pk }}" {% if pk == war.zone_job %} selected {% endif %}>{{ choice }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}
                <div class="form-group row">
                    <div class="col-lg-12">
                        <a href="{% url 'rom_home' %}" class="btn btn-secondary" role="button">Cancel</a>
                        <input class="btn btn-primary" type="submit" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/character.js' %}"></script>

{% endblock %}