{% extends 'base.html' %}
{% block content %}
<div class="col-lg-6">
    <div class="card card-outline-secondary">
        <div class="card-header">
            <span><h3 class="mb-0">Character</h3> <a href="{% url 'rom_character_create' %}" class="btn btn-dark btn-sm">Create Character</a></span>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col">
                    {% for base in bases %}
                    <h3><a href="{% url 'rom_character_edit' base.id %}">{{ base.ign }}</a></h3>
                    {% if base.guild %}
                    มีกิลแล้วจ้า <i class="fa fa-hand-o-right">
                    | <a href="{% url 'guild_home' base.guild.invite_code %}">{{ base.guild.guild_name }} Member list</a>
                    | <a href="{% url 'guild_party_list' base.guild.invite_code 'woe' %}">Party WOE</a>
                    | <a href="{% url 'guild_party_list' base.guild.invite_code 'woc' %}">Party WOC</a>
                    | <a href="{% url 'guild_party_list' base.guild.invite_code 'zone' %}">Party ZONE</a>
                    <span>ใช้ไปก่อน BETA 0.01</span>
                    {% else %}
                    <a href="{% url 'guild_create' base.id %}" class="btn btn-dark btn-sm" hidden>Create Guild</a>
                    {% endif %}
                    <hr>
                    {% endfor %}
                    <h3><i class="fa fa-hand-o-right"></i><a href="{% url 'guild_join_landing' '863BB8' %}" class="btn btn-warning btn">สร้างตัวละครเสร็จ กดที่นี่สมัครเข้ากิล NOS</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="col-lg-6">
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Contact</h3>
        </div>
        <div class="card-body">
            <form action="{% url 'profile_save' %}" method="post">
                {% csrf_token %}
                {% if form_profile.line_contact.errors %}
                {% for error in form_profile.line_contact.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <small><strong>{{ error|escape }}</strong></small>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" for="{{ form_profile.line_contact.auto_id }}">{{ form_profile.line_contact.label }}</label>
                    <div class="col-lg-9">
                        {{ form_profile.line_contact }}
                    </div>
                </div>
                {% if form_profile.nickname.errors %}
                {% for error in form_profile.nickname.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <small><strong>{{ error|escape }}</strong></small>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label" for="{{ form_profile.nickname.auto_id }}">{{ form_profile.nickname.label }}</label>
                    <div class="col-lg-9">
                        {{ form_profile.nickname }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        <input class="btn btn-primary" type="submit" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}