{% extends 'base.html' %}
{% load static %}
{% load rom_extras %}

{% block content %}

<div class="card mb-3">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'guild_home' invite_code %}">Member list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="">Waiting List</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="form-group row">
                <div class="col-lg-9">
                    {% for base in bases %}
                    <span>{{ base.ign }}</span>
                    <a href="{% url 'guild_approve' invite_code base.id %}" class="btn btn-success"><i class="fa fa-check"></i></a>
                    <a href="#" class="btn btn-danger"><i class="fa fa-times"></i></a>
                    <hr>
                    {% endfor %}
                </div>
            </div>
    </div>
</div>

{% endblock %}